body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Hintergrundfarbe hinzugefügt */
}

.logo_container {
    margin: 60px auto; /* Zentrierung des Formulars */
    text-align: center;
}

.logo {
    height: 20%;
}

form {
    max-width: 400px; /* Maximale Breite des Formulars für eine bessere Lesbarkeit */
    margin: 20px auto; /* Zentrierung des Formulars */
    background-color: #fff; /* Hintergrundfarbe des Formulars */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schatten für das Formular */
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Rahmen für Input-Felder hinzugefügt */
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9; /* Geringfügige Anpassung der Hover-Opazität */
}

.ticketInfo {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}