/* generelles Body layout*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Hintergrundfarbe hinzugefügt */
}

/* Popup Styles */
.popup-overlay {
    position: fixed; /* wird als erste ebene angezeigt */
    display: none; /* muss erst getriggert werden, default=hidden*/
    width: 100%; /* ganze breite */
    height: 100%; /* ganze höhe */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* schwarzer hintergrund */
    z-index: 2; /* gibt die reihenfolge an*/
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background: white;
}

/* kein scrollen wenn pop up ist aktiv */
body.popup-active {
    overflow: hidden;
}

/* Popup-Ladeanimation Willkommenscreen */
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #FFE27F;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}



/* Logo layout*/
.logo_container {
    margin: 50px auto; /* Zentrierung des Formulars */
    text-align: center;
}

.logo {
    height: 20%;
}


/* Formular layout*/
form {
    max-width: 400px; /* Maximale Breite des Formulars für eine bessere Lesbarkeit */
    margin: 20px auto; /* Zentrierung des Formulars */
    background-color: #fff; /* Hintergrundfarbe des Formulars */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schatten für das Formular */
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Rahmen für Input-Felder hinzugefügt */
    border-radius: 4px;
}

/* Button layout*/
button {
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    opacity: 0.9; /* Geringfügige Anpassung der Hover-Opazität */
}

.ticketInfo {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Überschrift 1 layout*/
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}


/* spezielles layout für startscreen*/
.one h1 {
  text-transform: capitalize;
  margin-bottom: 30px
}
.one h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 156px;
  height: 2px;
  content: "";
  background-color: #4CAF50;
}

.one h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
}


/* Dropdown Style */
.dropdown select {
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em; /* größere Schrift */
    border: 1px solid #ccc;
    background-color: #fff;
    color: #2d2f31;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    -moz-appearance: none; /* Remove default styling for Firefox */
    appearance: none; /* Standard way to remove default styling */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* kleiner schatten */
    cursor: pointer; /* hinweis clickable */
}

#onlineStatus {
    font-size: 1.3rem;
    color: green;
    text-align: center; /* Center the text */
    margin-top: 50px; /* Add margin for spacing */
    margin-bottom: 20px;
    font-style:italic;
}

.offline {
    color: red;
    font-weight: bold;
}

#createNewTicket_header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            padding: 20px;
            margin: 0;
}

#ticket_create_content {
    margin-top: 150px;
}